:root {
    --dark: #2C241B;
    /* Deep Charred Brown (Headers/Text) */
    --less-dark: #4E3B31;
    /* Muted Earth (Subheaders) */
    --less-bright: #E8DCC4;
    /* Aged Parchment (UI Elements/Cards) */
    --bright: #F5F1E6;
    /* Dusty Page (Main Background) */
    --contrast: #8B0000;
    /* Dark Oxblood (Buttons/Critical Info) */
}

* {
    box-sizing: border-box;
}

/* CORE */
body {
    margin: 0px;
    padding: 0px;
    width: calc(100vw-20px);
    height: 100vh;
    background: var(--bright);
}

/* THEME */
.wrapper {
    padding: 2rem;
}

.content {
    background: var(--less-bright);
    color: var(--less-dark);
}

.header {
    height: 2rem;
    background: var(--dark);
    box-shadow: inset -2px 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.article {
    padding: 0 10%;
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Spectral', sans-serif;
}

.article h2,
.article h3 {
    background: var(--less-dark);
    color: var(--less-bright);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    margin-top: 0;

    padding: 0.5em 1em;
    padding-right: calc(100% - 300px);
    clip-path: polygon(0% 0%, 200px 0%, 100% 50%, 200px 100%, 0% 100%);
}

.article h4 {
    text-decoration: underline;
    margin: 1em 0; 
}

.article p {
    margin: 1.333em 0;
    line-height: 1.333em;
}

.article blockquote {
    background: var(--contrast);
    color: var(--less-bright);
    margin: 0.333em 0;
    padding: 0 2em;
    max-width: fit-content;
}

.article a {
    color: var(--contrast);
    font-weight: 600;
    text-decoration: none;
}

.article table {
    border-collapse: collapse;
    border: 1px var(--less-dark) solid;
    margin-bottom: 1em;
    text-align: right;
}

.article td, .article th {
    padding: 4px 0.5em;
    border-bottom: 1px var(--less-dark) solid;
}