:root {
    --dark: #1b1815;
    --less-dark: #2c1b1b;
    --less-bright: #c7c1b3;
    --bright: #ffffff;
    --highlight: #9e0000;
    --contrast: #b8a13c;
    --cool-dark: #2c3e50;
}

* {
    box-sizing: border-box;
    font-family: 'Spectral', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    width: calc(100vw-20px);
    height: 100vh;
    background: linear-gradient(90deg, var(--less-bright), var(--bright) 40%, var(--bright) 60%, var(--less-bright));
}

/* THEME */
.title-font {
    font-family: 'Cinzel', serif;
}

.content {
    color: var(--less-dark);
    overflow: auto;
    width: 100%;
    margin: 0 auto;
}

@media (min-width:900px) {
    .content {
        width: clamp(20em, calc(100% - 400px), 1400px);
    }
}


.article {
    margin: 0 auto;
}

.trinitas h2,
.trinitas h3 {
    background: linear-gradient(90deg, var(--less-dark), var(--less-bright));
    color: var(--bright);
    clip-path: polygon(0% 0%, 100px 0%, 100% 50%, 100px 100%, 0% 100%);
    padding: 0.5rem 1rem;
    margin: 1em 0;

    display: flex;
    align-items: center;
}

.article h4 {
    text-decoration: underline;
    margin: 0.5em 0;
    padding: 0em 1em;
}

.article p {
    margin: 1em 0;
    line-height: 1.333em;
    padding: 0 1em;
}

.article blockquote {
    background: var(--contrast);
    color: var(--bright);
    margin: 0.333em 0;
    padding: 0 2em;
    max-width: fit-content;
}

.article a {
    color: var(--highlight);
    font-weight: 600;
    text-decoration: none;
}

.trinitas table {
    border-collapse: collapse;
    border: 1px var(--less-dark) solid;
    margin-bottom: 1em;
    text-align: right;

    table-layout: fixed;
}

.trinitas tr, .trinitas tbody, .trinitas thead, .trinitas table {
    width: fit-content;
}

.trinitas td,
.trinitas th {
    padding: 2px 1rem;
    border-bottom: 1px var(--less-dark) solid;
    line-height: 1.333em;
    width: 20%;
}

.crescens table {
    border-collapse: collapse;
    border: 1px var(--less-dark) solid;
    margin-bottom: 1em;
}

.crescens tr, .crescens tbody, .crescens thead, .crescens table {
    width: fit-content;
}

.crescens td,
.crescens th {
    padding: 2px 1rem;
    border-bottom: 1px var(--less-dark) solid;
    line-height: 1.333em;
}

.crescens td:first-child,
.crescens th:first-child {
    text-align: right;
}

.input {
    outline: none;
    background-color: var(--bright);

    font-size: 1em;
    width: clamp(250px, 75vw, 33em);
    margin: 0.33em 0;

    border: 2px solid;
    border-image-source: linear-gradient(90deg, transparent, var(--highlight), transparent);
    border-image-slice: 1;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        inset 0 0 20px rgba(139, 69, 19, 0.05);
}

@media (min-width: 900px) {
    .input {
        width: clamp(250px, 33vw, 33em);
    }   
}

/* UTILITIES */

.m0 {
    margin: 0;
}